/* app/styles/orders.css */

.orders {
  margin-top: 10px;
  padding: 20px;
  padding-top: 40px;
  overflow-x: auto;
}

.orders h1 {
  text-align: center;
  margin-bottom: 20px;
}

.orders table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.orders th,
.orders td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.orders th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.orders img {
  width: 50px;
  height: auto;
}
.review-form {
  display: flex;
  padding: 20px;
  background-color: white;
  width: 35%;
  margin: auto;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: -1px 2px 90px 8px rgba(0, 0, 0, 0.55);
}
.review-form button {
  margin-top: 10px;
  padding: 5px;
}

.review-main {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: full;
}
.review-main input {
  height: 30px;
  width: 300px;
  text-align: center;
}
.review-main lable {
  text-align: left;
}

.review-main textarea {
  height: 100px;
  width: 300px;
}

table button {
  margin: 10px;
}

.modal {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  background-color: #0e01012e;
  z-index: 1;
  left: 0;
  right: 0;
}
